body {
   background-image:url("../images/fondecran.jpg");
   background-size: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;
}

/************* delimitation jeu*****************/
div.jeu { 
   height: 520px;
   width: 520px;
   margin: 2em auto 2em auto;
   float:center;
   border:2px whitesmoke;
}

 /***************gestion case image****************/ 
div.case {
   height: 100px;
   width: 100px;
   border: 1px solid black;
   float: left;
   margin: 10px;
   background-image:url("../images/doscarte.jpg");
   background-size: 100%;
   border-color:2px whitesmoke;
   border-radius: 20%;
}

 /*****************gestion image****************/ 
img {
   height: 100px;
   width: 100px;
   visibility: hidden;
}

/*****************séparation ligne*****************/
hr {
   clear: both;
   visibility:hidden;
}

/*******************titre********************/
h1{
   color: whitesmoke;
   font-weight:bolder;
   text-decoration: underline;
   width:430px;
   margin:auto;
   font-size: 20px;
}
